@page
@model ClientMilkTeamPage.Pages.AdminPage.DetailMaterialPage.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DetailMaterial</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DetailMaterial.DetailMaterialName" class="control-label"></label>
                <input asp-for="DetailMaterial.DetailMaterialName" class="form-control" />
                <span asp-validation-for="DetailMaterial.DetailMaterialName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailMaterial.Quanity" class="control-label"></label>
                <input asp-for="DetailMaterial.Quanity" class="form-control" />
                <span asp-validation-for="DetailMaterial.Quanity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailMaterial.TeaID" class="control-label"></label>
                <input asp-for="DetailMaterial.TeaID" class="form-control" />
                <span asp-validation-for="DetailMaterial.TeaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DetailMaterial.MaterialID" class="control-label"></label>
                <input asp-for="DetailMaterial.MaterialID" class="form-control" />
                <span asp-validation-for="DetailMaterial.MaterialID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}