@page
@model ClientMilkTeamPage.Pages.AdminPage.TeaPage.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tea</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tea.TeaName" class="control-label"></label>
                <input asp-for="Tea.TeaName" class="form-control" />
                <span asp-validation-for="Tea.TeaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tea.Estimation" class="control-label"></label>
                <input asp-for="Tea.Estimation" class="form-control" />
                <span asp-validation-for="Tea.Estimation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tea.Price" class="control-label"></label>
                <input asp-for="Tea.Price" class="form-control" />
                <span asp-validation-for="Tea.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tea.TeaDescription" class="control-label"></label>
                <input asp-for="Tea.TeaDescription" class="form-control" />
                <span asp-validation-for="Tea.TeaDescription" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Tea.Status" /> @Html.DisplayNameFor(model => model.Tea.Status)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Tea.Image" class="control-label"></label>
                <input asp-for="Tea.Image" class="form-control" />
                <span asp-validation-for="Tea.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
