@page
@model ClientMilkTeamPage.Pages.AdminPage.OrderPage.EditModel
@{
    ViewData["Title"] = "Edit Order";
}
<h1>Edit Order</h1>
<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderVM.OrderID" />
            <div class="form-group">
                <label asp-for="OrderVM.UserID" class="control-label">User</label>
                <select asp-for="OrderVM.UserID" class="form-control" asp-items="Model.UserList"></select>
                <span asp-validation-for="OrderVM.UserID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderVM.StartDate" class="control-label"></label>
                <input asp-for="OrderVM.StartDate" class="form-control" type="date" />
                <span asp-validation-for="OrderVM.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderVM.EndDate" class="control-label"></label>
                <input asp-for="OrderVM.EndDate" class="form-control" type="date" />
                <span asp-validation-for="OrderVM.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderVM.ShipAddress" class="control-label"></label>
                <input asp-for="OrderVM.ShipAddress" class="form-control" />
                <span asp-validation-for="OrderVM.ShipAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderVM.Status" class="control-label"></label>
                <select asp-for="OrderVM.Status" class="form-control">
                   
                    <option value="true">Success</option>
                    <option value="false">Failed</option>
                </select>
                <span asp-validation-for="OrderVM.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderVM.TypeOrder" class="control-label"></label>
                <input asp-for="OrderVM.TypeOrder" class="form-control" />
                <span asp-validation-for="OrderVM.TypeOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderVM.ReasonContent" class="control-label"></label>
                <textarea asp-for="OrderVM.ReasonContent" class="form-control"></textarea>
                <span asp-validation-for="OrderVM.ReasonContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}